@black: rgb(41, 47, 54);
@pink: rgb(228, 62, 94);
@bgGreen: rgba(201, 224, 190, 0.6);
@bgSand: rgb(249, 240, 189);
@white: rgb(255, 255, 255);

@pageWidth: 95%;
@pagePadding: 5%;

@mobile: ~"only screen and (max-width: 800px)";

.thin {
	font-weight: 100;
}

.regular {
	font-weight: 400;
}

.bold {
	font-weight: 700;
}

strike {
	color: #777;
}

strong, b {
	.bold;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	.regular;

	color: @black;
}

.center {
	text-align: center;
}

.full-column, .column {
	margin: 0.5em auto;
}

.full-column {
	width: @pageWidth;
}

.column {
	width: @pageWidth - 2*@pagePadding;
	padding: 1em @pagePadding;
}

.no-gap {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.half-column {
	display: inline-block;
	width: 50%;
	@gap: 3em;

	&.left {
		display: block;
		float: left;
		.matrjoska {
			padding-right: @gap;
		}
	}
	
	&.right {
		display: block;
		float: right;
		.matrjoska {
			padding-left: @gap;
		}
	}

	@media @mobile {
		&.left, &.right {
			display: block;
			float: none;
			width: 100%;
			margin-bottom: @gap;
			.matrjoska {
				padding: 0;
			}
		}
	}

}

.clear {
	clear: both;
}

h1, h2, h3 {
	.regular;
	margin: 0;
}

h1 {
	font-size: 20pt;
}

h2 {
	font-size: 18pt;
}

h3 {
	font-size: 15pt;
}

a {
	color: @pink;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.rounded-border {
	border-radius: 0.3em;
}

.align-right {
	text-align: right;
}

// struktura

header.main {
	nav {
		text-transform: uppercase;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				@media @mobile {
					// display: block;
					a {
						display: inline-block;
						padding: 0.5em 0;
					}
				}
			}

			li:last-child:after {
				display: none;
			}

			li:after {
				content: "|";
				padding: 0 1em;
				@media @mobile {
					padding: 0 0.5em;
				}
			}
		}
	}
	.cover-photo {
		height: 15em;

		// margin: 0;
		padding: 0;

		background-image: url(../img/hrad.jpg);
		background-size: 100%;
		background-position: 100% 10%;

		.rounded-border;

		.matrjoska {
			text-align: right;
			padding-top: 1%;
			padding-right: 7%;
		}

		@media @mobile {
			height: auto;
			background-size: cover;
			.matrjoska {
				padding: 1em 0;
				text-align: center;
				h1 {
					display: inline-block;
					background-color: rgba(255, 255, 255, 0.6);
					padding: 0 3px;
				}
			}
		}
	}

	h1, h2 {
		.thin;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}

	h1 {
		font-size: 9vw;
		// margin-bottom: 0.2em;
	}

	h2 {
		font-size: 3.24vw;
		margin-right: 0.15em;
		// margin-left: 0.17em;

		.background {
			background-color: rgba(255,255,255,0.6);
			padding: 0 3px;
		}
	}
}

.infobox {
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: @bgSand;
	.rounded-border;
}

.prices {
	.member-price {
		background-color: @bgSand;
	}
	.disabled {
		color: #777;
	}
}
.member-price-note {
	background-color: @bgSand;
	padding: 8px;
	line-height: 1.42857143;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	thead th {
		border-top: 0;
	}
	td, th {
		padding: 8px;
		line-height: 1.42857143;
		border-top: 1px solid #aaa;
	}
}

.program-table {
	.date {
		background-color: @bgSand;
	}
	.time {
		.bold;
	}
}

footer {
	@height: 40px;
	height: @height;
	line-height: @height;

	.footer-box {
		background-color: @black;
		color: @white;

		.rounded-border;
	}

	.footer-left {
		width: auto;
		overflow: hidden;

		.copyright {
			padding-right: 1em;
		}
	}
	.footer-right {
		.footer-logo, .footer-box {
			display: inline-block;
			margin-right: 10px;
		}
		float: right;
		text-align:right;

		.sponsored-by {
			padding: 0 1em;
		}

		.footer-logo {
			.valign {
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			img {
				vertical-align: middle;
			}
		}
	}
}
